
@{
    ViewBag.Title = "Home Page";
}



    <div class="jumbotron text-center">
        <h1>Control entrega y recepcion de llaves de los sitios TCN-TIGO</h1>
        <p class="lead">Desde esta aplicacion podras llevar un control de los prestamos de llaves para los sitios TCN-TIGO, estos podras ser editados eliminados.</p>
       
        <div class="progress">
            <div class="progress-bar bg-success" style="width:40%">
                Free Space
            </div>
            <div class="progress-bar bg-warning" style="width:10%">
                Warning
            </div>
            <div class="progress-bar bg-danger" style="width:20%">
                Danger
            </div>
        </div>
    </div>

<div class="col-lg-pull-11 align-self-baseline">
    <
    <div class="row">
        <div class="col-md-4">
            <h2>Entrega de Llaves</h2>
            <p>
                Desde aqui podran realizar entrega y recepcion de llaves de los sitios Tigo.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Registro de Empresas</h2>
            <p>Podras creas las empresas autorizadas para los proyectos TCN-TIGO.</p>

        </div>
        <div class="col-md-4">
            <h2>Registro de Proveedores</h2>
            <p>Podras facilmente anexar los recursos autorizados para ingresar a los sitios TCN-TIGO.</p>

        </div>
    </div>
</div>



